main {
    width: auto;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
}
.task1 {
    width:500px;
    height:461px;
    position: relative;
    float: left;
    background: #0D5825;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
/*форматирование текста для цитаты*/
.quote p{
    display: block;
    padding: 16px 0;
}
.quote p::before {
    content: "\201C";
}

.quote p::after {
    content: "\201E";
}

.quote::selection {
    color: #fff;
    background-color: #fff;
}

/*изображение карт*/
.task1 img {
    position: absolute;
    width:150px;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.first-card {
    z-index: 0;
    top: 160px;
    left: 130px;
    transform: rotate(-20deg);
}

.second-card {
    z-index: 1;
    top: 165px;
    left: 181px;
    transform: rotate(-10deg);
}

.third-card {
    z-index: 2;
    top: 180px;
    left: 232px;
    transform: rotate(10deg);
}

.first-card:hover {
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px) rotate(-20deg);
}

.second-card:hover {
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px) rotate(-10deg);
}

.third-card:hover {
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px) rotate(10deg);
}

.task2 {
    float: left;
    width:200px;
    height:200px;
}

.block{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
}
/*left: 25+25-5*/
.first-block {
    z-index: 0;
    background-color: #FF8888;
    top: 25px;
    left: 20px;
}
/*left: 25+25*/
.second-block {
    z-index: 2;
    background-color: #7E8AEB;
    top: 5px;
    left: 50px;
}
/*left: 25+25+5*/
.third-block {
    z-index: 1;
    background-color: #4DEF99;
    top: -15px;
    left: 80px;
}

@keyframes moving {
    0%{
        background-color: red;
        left: 0;
        top: 0;
    }
    25%{
        background-color: blue;
        left: 0;
        top: calc(100% - 100px);
    }
    50%{
        background-color: green;
        left: calc(100% - 100px);
        top: calc(100% - 100px);
    }
    75%{
        background-color: yellow;
        left: calc(100% - 100px);
        top: 0;
    }
    100%{
        background-color: red;
        left: 0;
        top: 0;
    }
}
.box {
    width: 300px;
    height: 300px;
    position: relative;
}

.animation {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    animation: moving 2s infinite;
}


.header {
    position: absolute;
    width: 210px;
    padding: 30px 20px;
    background: rgb(104, 104, 104);
    top: 0;
    left: -210px;
    bottom: 0;
    z-index: 2;
}

.header:hover {
    left: 0;
    transition: left .3s ease-in;
}

.header:hover:after {
    opacity: 0;
    visibility:hidden;
    transition: opacity .3s ease-in;
}

.header::after {
    content:attr(data-text);
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%) rotate(90deg);
    text-transform: uppercase;
    color: #fff;
    width: 100px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    position: relative;
    padding: 0 0 10px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.nav-item::before{
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    background: yellow;
    border: 2px solid #000;
    transform: rotate(45deg) skew(5deg);
}

.nav-item a{
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover{
    transition: color .3s ease-in;
    color: yellow;
}